[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Gayathri-tel
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Gayathri-tel
	label-Verified = -1..+1 group user/Gayathri-tel
	push = group user/Gayathri-tel
	read = group user/Gayathri-tel
	rebase = group user/Gayathri-tel
	removeReviewer = group user/Gayathri-tel
	submit = group user/Gayathri-tel
[access "refs/heads/*"]
	create = group user/Gayathri-tel
	push = +force group user/Gayathri-tel
	pushMerge = group user/Gayathri-tel
	read = group user/Gayathri-tel
[access "refs/tags/*"]
	push = group user/Gayathri-tel
	push = +force group user/Gayathri-tel
